*.tmp
*.swp
*.env
*.DS_Store*
*.code-workspace
crisp_results

venv/
.venv/
.idea/
.cache/
.vscode/
__pycache__/
crisp_results/
mesa-vulkan-simgpgpusimShaders
mesa-vulkan-simgpgpusimShaders/
embree-3.13.5.x86_64.linux
embree-3.13.5.x86_64.linux/
